* body{
	background-color: black;
}

h1{
	font-size: medium;
	background-color:blue;
}
p{
	font-style: italic;
	padding-right: 50px;
}



ul{
	border: 20px;
	padding: 10px;
	margin-left: 20px;
	display: flex;
	float: right;
}
li{
	margin: auto;
	border: 15px;
	padding: 20px;
}
.image{
	border-right: 700px;
	padding-top: 50px;
	margin-right: 500px;
	display:flex;
}